In [80]:
# !pip install fbprophet
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import warnings 
warnings.filterwarnings('ignore')

In [81]:
df = pd.read_json('ultimate_data_challenge.json')

In [82]:
df.head()

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9

In [83]:
df['signup_date'] = pd.to_datetime(df.signup_date)
df['last_trip_date'] = pd.to_datetime(df.last_trip_date)

In [84]:
df['diff'] = df['last_trip_date'] - df['signup_date']

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,diff
49950,King's Landing,0,2014-01-18,5.0,1.00,2014-03-07,iPhone,0.0,False,100.0,11.33,5.0,48 days
49951,Winterfell,0,2014-01-29,NaN,1.00,2014-04-16,Android,0.0,True,100.0,4.24,5.0,77 days
49952,Astapor,3,2014-01-25,5.0,1.03,2014-06-24,iPhone,12.5,False,100.0,3.61,4.8,150 days
49953,Astapor,1,2014-01-24,5.0,1.00,2014-01-25,iPhone,0.0,False,100.0,0.75,2.0,1 days
49954,King's Landing,1,2014-01-30,NaN,1.00,2014-01-31,Android,0.0,False,100.0,7.80,5.0,1 days
49955,Astapor,1,2014-01-27,NaN,1.00,2014-01-29,iPhone,0.0,True,100.0,4.66,5.0,2 days
49956,King's Landing,0,2014-01-21,5.0,1.17,2014-05-14,iPhone,33.3,False,66.7,2.44,5.0,113 days
49957,Winterfell,0,2014-01-02,1.0,1.00,2014-06-27,Android,0.0,False,100.0,6.71,5.0,176 days
49958,Astapor,9,2014-01-30,4.0,1.00,2014-05-31,Android,0.0,False,76.9,1.45,4.7,121 days
49959,Winterfell,0,2014-01-04,4.0,1.00,2014-06-26,Android,0.0,True,100.0,12.48,5.0,173 days
49960,King's Landing,0,2014-01-25,5.0,1.00,2014-03-15,iPhone,0.0,False,0.0,4.68,5.0,49 days
49961,King's Landing,4,2014-01-25,4.7,1.00,2014-02-12,iPhone,0.0,False,100.0,14.09,5.0,18 days
49962,Winterfell,2,2014-01-25,NaN,1.00,2014-06-12,iPhone,0.0,False,100.0,8.13,5.0,138 days
49963,Winterfell,2,2014-01-09,4.7,1.06,2014-06-29,iPhone,4.5,True,86.4,8.67,4.8,171 days
49964,Winterfell,8,2014-01-24,4.5,1.04,2014-06-26,iPhone,3.8,False,57.7,4.80,4.6,153 days
49965,Astapor,4,2014-01-22,4.4,1.00,2014-05-19,iPhone,0.0,True,88.9,3.49,5.0,117 days
49966,King's Landing,4,2014-01-31,3.8,1.00,2014-06-21,iPhone,0.0,True,60.0,4.86,4.9,141 days
49967,Winterfell,1,2014-01-12,5.0,1.00,2014-01-12,Android,0.0,False,0.0,0.05,5.0,0 days
49968,Astapor,1,2014-01-11,5.0,1.00,2014-01-12,Android,0.0,False,0.0,11.04,5.0,1 days
49969,Astapor,2,2014-01-29,4.3,1.33,2014-04-05,iPhone,50.0,True,50.0,3.75,5.0,66 days
49970,Winterfell,2,2014-01-16,4.3,1.00,2014-04-14,iPhone,0.0,False,0.0,5.62,5.0,88 days
49971,King's Landing,0,2014-01-12,NaN,1.00,2014-06-14,iPhone,0.0,True,100.0,4.69,5.0,153 days
49972,Winterfell,1,2014-01-12,4.0,1.25,2014-06-29,iPhone,50.0,False,0.0,4.60,3.5,168 days
49973,Astapor,2,2014-01-01,4.0,1.00,2014-06-28,iPhone,0.0,True,25.0,4.07,5.0,178 days
49974,Winterfell,1,2014-01-05,5.0,2.00,2014-01-18,iPhone,100.0,False,100.0,4.63,5.0,13 days
49975,Winterfell,11,2014-01-11,3.9,1.03,2014-06-18,iPhone,4.1,False,91.8,2.18,4.8,158 days
49976,King's Landing,0,2014-01-21,2.0,1.00,2014-07-01,iPhone,0.0,False,100.0,2.39,4.0,161 days
49977,Astapor,4,2014-01-06,5.0,1.00,2014-01-09,Android,0.0,False,100.0,8.71,5.0,3 days
49978,Winterfell,1,2014-01-17,4.5,1.00,2014-05-03,Android,0.0,False,50.0,6.02,5.0,106 days
49979,Winterfell,0,2014-01-24,4.0,1.00,2014-04-07,Android,0.0,True,50.0,3.81,4.8,73 days
49980,Astapor,1,2014-01-05,NaN,1.00,2014-01-20,Android,0.0,False,100.0,14.42,5.0,15 days
49981,Astapor,0,2014-01-26,4.0,1.00,2014-03-16,iPhone,0.0,True,0.0,5.49,5.0,49 days
49982,King's Landing,0,2014-01-21,5.0,1.00,2014-04-24,iPhone,0.0,False,100.0,15.23,5.0,93 days
49983,Winterfell,1,2014-01-27,1.0,1.00,2014-02-26,Android,0.0,False,100.0,30.39,5.0,30 days
49984,Winterfell,1,2014-01-26,NaN,1.00,2014-01-26,Android,0.0,False,0.0,3.50,5.0,0 days
49985,Astapor,1,2014-01-26,NaN,1.00,2014-02-25,Android,0.0,False,100.0,1.38,5.0,30 days
49986,Winterfell,0,2014-01-21,4.0,1.00,2014-05-23,Android,0.0,False,100.0,0.52,5.0,122 days
49987,Winterfell,3,2014-01-27,4.6,1.00,2014-05-31,iPhone,0.0,False,80.0,4.24,4.0,124 days
49988,King's Landing,1,2014-01-20,4.5,1.00,2014-06-14,iPhone,0.0,False,50.0,2.53,5.0,145 days
49989,Winterfell,1,2014-01-24,NaN,1.00,2014-01-31,iPhone,0.0,False,100.0,0.00,5.0,7 days
49990,Astapor,1,2014-01-13,4.7,1.08,2014-05-18,iPhone,33.3,True,33.3,3.38,5.0,125 days
49991,Winterfell,0,2014-01-08,5.0,1.25,2014-06-29,iPhone,100.0,False,0.0,1.06,5.0,172 days
49992,King's Landing,1,2014-01-18,1.0,1.00,2014-01-19,iPhone,0.0,False,0.0,7.58,5.0,1 days
49993,Astapor,3,2014-01-03,4.8,1.11,2014-07-01,iPhone,11.1,True,55.6,2.53,4.7,179 days
49994,Astapor,1,2014-01-03,4.6,1.44,2014-05-31,iPhone,37.5,False,25.0,2.25,4.5,148 days
49995,King's Landing,0,2014-01-25,5.0,1.00,2014-06-05,iPhone,0.0,False,100.0,5.63,4.2,131 days
49996,Astapor,1,2014-01-24,NaN,1.00,2014-01-25,iPhone,0.0,False,0.0,0.00,4.0,1 days
49997,Winterfell,0,2014-01-31,5.0,1.00,2014-05-22,Android,0.0,True,100.0,3.86,5.0,111 days
49998,Astapor,2,2014-01-14,3.0,1.00,2014-01-15,iPhone,0.0,False,100.0,4.58,3.5,1 days
49999,Astapor,0,2014-01-18,NaN,1.00,2014-04-20,Android,0.0,False,0.0,3.49,5.0,92 days

In [86]:
df['difference'] = ""
for i in range(len(df['diff'])):
    df['difference'][i] = int(str(df['diff'][i])[:-14])

In [87]:
type(df['difference'][0])

int

In [106]:
df['6month Active'] = ''
for i in range(len(df.difference)):
    if df.difference[i] >= 180:
        df['6month Active'][i] = 'yes'
    else:
        df['6month Active'][i] = 'no'

In [121]:
df['6month Active'].value_counts()

no     49915
yes       85
Name: 6month Active, dtype: int64

In [108]:
df['1month Active'] = ''
for i in range(len(df.difference)):
    if df.trips_in_first_30_days[i] >= 1:
        df['1month Active'][i] = 'yes'
    else:
        df['1month Active'][i] = 'no'

In [109]:
df.head()

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,diff,difference,6month Active,1month Active
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0,143 days,143,no,yes
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0,96 days,96,no,no
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0,1 days,1,no,yes
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9,170 days,170,no,yes
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9,47 days,47,no,yes

In [120]:
df['1month Active'].value_counts()

yes    34610
no     15390
Name: 1month Active, dtype: int64

In [ ]:
# Are we looking at 6 month active or 1 month active? if we are looking at 
# 6month active then the number of people for 6 month active is just 85 compared to more 49915 for less then 6 months
# makes more sense if it is 1month